swagger: "2.0"

info:
  version: "0.0.1"
  title: SECOMP Pokemon API Project

host: pokeapi.moboweb.com.br
basePath: /api/v1dev

schemes:
  - http
  - https

consumes:
  - application/json

produces:
  - application/json

securityDefinitions:
  apiKey:
    type: apiKey
    in: query
    name: apiKey

paths:
  # Pokemon paths
  /pokemon:
    x-swagger-router-controller: pokemon
    post:
      tags:
        - Pokemon
      security:
        - apiKey: [ ]
      x-security-scopes:
        - ADMIN
      description: Creates a Pokemon
      operationId: postPokemonCreate
      parameters:
        - in: body
          name: body
          description: Add new Pokemon to the database
          required: true
          schema:
            $ref: "#/definitions/Pokemon"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Pokemon"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
    get:
      tags:
        - Pokemon
      security:
        - apiKey: [ ]
      x-security-scopes:
        - USER
        - ADMIN
      description: Returns the list of all Pokemon
      operationId: getPokemonList
      parameters:
        - name: page
          in: query
          description: current list pagination position
          type: number
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/PokemonListResponse"
  /pokemon/{id}:
    x-swagger-router-controller: pokemon
    get:
      tags:
        - Pokemon
      security:
        - apiKey: [ ]
      x-security-scopes:
        - USER
        - ADMIN
      description: Retrieves a specific Pokemon by id
      operationId: getPokemonById
      parameters:
        - name: id
          in: path
          description: id of Pokemon
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/PokemonResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
    put:
      tags:
        - Pokemon
      security:
        - apiKey: [ ]
      x-security-scopes:
        - ADMIN
      description: upsert a Pokemon by id
      operationId: putPokemonUpsert
      parameters:
        - name: id
          in: path
          description: id of Pokemon
          required: true
          type: string
        - in: body
          name: body
          description: Pokemon object data to update
          required: true
          schema:
            $ref: "#/definitions/Pokemon"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/PokemonResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - Pokemon
      security:
        - apiKey: [ ]
      x-security-scopes:
        - ADMIN
      description: delete a specific Pokemon
      operationId: deletePokemonRemove
      parameters:
        - name: id
          in: path
          description: id of Pokemon
          required: true
          type: string
      responses:
        204:
          description: No content
        default:
            description: Error
            schema:
              $ref: "#/definitions/ErrorResponse"
  /pokemon/{id}/capture:
    x-swagger-router-controller: pokemon
    post:
      tags:
        - Pokemon
      security:
        - apiKey: [ ]
      x-security-scopes:
        - USER
        - ADMIN
      description: Add a pokemon to user list
      operationId: postPokemonCaptureById
      parameters:
        - name: id
          in: path
          description: id of Pokemon
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/PokemonResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"

  # User paths
  /user/authenticate:
    x-swagger-router-controller: user
    post:
      tags:
        - User
      description: Authenticate user
      operationId: postUserAuthenticate
      parameters:
        - in: body
          name: body
          description: Authenticate user with username and password
          required: true
          schema:
            $ref: "#/definitions/UserAuth"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/UserAuthResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /user:
    x-swagger-router-controller: user
    post:
      tags:
        - User
      description: Creates a user
      operationId: postUserCreate
      parameters:
        - in: body
          name: body
          description: Add new user to the database
          required: true
          schema:
            $ref: "#/definitions/User"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/UserResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
    get:
      tags:
        - User
      security:
        - apiKey: [ ]
      x-security-scopes:
        - ADMIN
      description: Returns the list of all users
      operationId: getUserList
      parameters:
        - name: page
          in: query
          description: current list pagination position
          type: number
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/UserListResponse"
  /user/{id}:
    x-swagger-router-controller: user
    get:
      tags:
        - User
      security:
        - apiKey: [ ]
      x-security-scopes:
        - USER
        - DOCTOR
        - ADMIN
        - FRANCHISE
      description: Retrieves a specific user by id
      operationId: getUserById
      parameters:
        - name: id
          in: path
          description: id of User
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/UserResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
    put:
      tags:
        - User
      security:
        - apiKey: [ ]
      x-security-scopes:
        - ADMIN
      description: upsert a user by id
      operationId: putUserUpsert
      parameters:
        - name: id
          in: path
          description: id of User
          required: true
          type: string
        - in: body
          name: body
          description: User object data to update
          required: true
          schema:
            $ref: "#/definitions/User"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/UserResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - User
      security:
        - apiKey: [ ]
      x-security-scopes:
        - ADMIN
      description: delete a specific user
      operationId: deleteUserRemove
      parameters:
        - name: id
          in: path
          description: id of user
          required: true
          type: string
      responses:
        204:
          description: No content
        default:
            description: Error
            schema:
              $ref: "#/definitions/ErrorResponse"

  #swagger paths
  /swagger:
    x-swagger-pipe: swagger_raw

# Response/Request definitions
definitions:
  # Error definitions
  ErrorResponse:
    required:
      - message
    properties:
      message:
        type: string

  # Pokemon definitions
  PokemonListResponse:
    title: Pokemon list response object
    properties:
      data:
        type: array
        items:
          $ref: "#/definitions/Pokemon"
  PokemonResponse:
    title: Pokemon response object
    properties:
      data:
        $ref: '#/definitions/Pokemon'
  Pokemon:
    title: Pokemon object model
    type: object
    required:
      - name
      - pokeNumber
    properties:
      name:
        type: string
      pokeNumber:
        type: number
      weight:
        type: number
      picture:
        type: string
      stats:
        type: object
        properties:
          speed:
            type: number
          attack:
            type: number
          defense:
            type: number
          hp:
            type: number
          specialDefense:
            type: number
          specialAttack:
            type: number
      types:
        type: array
        items:
          type: string 

  # User definitions
  UserListResponse:
    title: User list response object
    properties:
      data:
        type: array
        items:
          $ref: "#/definitions/User"
  UserResponse:
    title: User response object
    properties:
      data:
        $ref: '#/definitions/User'
  UserAuthResponse:
    type: object
    properties:
      data:
        allOf:
          - $ref: '#/definitions/User'
          - type: object
            properties:
              token:
                type: string
              rtoken:
                type: string
  User:
    title: User object model
    type: object
    required:
      - username
      - password
    properties:
      name:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      username:
        type: string
      email:
        type: string
        format: email
      password:
        type: string
      role:
        type: string
        enum: ['ADMIN', 'USER']
  UserAuth:
    title: User information for authentication
    type: object
    required:
      - username
      - password
    properties:
      username:
        type: string
      password:
        type: string
